In [16]:
import setup.app_utils as au

df = au.london_energy_api()

In [17]:
df.head()

   pes_id          datetime_gmt  generation_mw
0      12  2023-06-19T07:30:00Z      32.843529
1      12  2023-06-19T07:00:00Z      22.739683
2      12  2023-06-19T06:30:00Z      14.592195
3      12  2023-06-19T06:00:00Z       9.178554
4      12  2023-06-19T05:30:00Z       5.347950

In [18]:
db = au.DB_Connector()

In [19]:
db.read("SELECT * FROM app.forecasts;")

Execute Read

Empty DataFrame
Columns: []
Index: []